.logo{
  width:70px;
}
html,body{
  height: 100%;
  font-family: "Lato";
}
body{
  -webkit-fontsmoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #17a2b8;
}
h1,h2,h3,h4,h5,{
  color: #17a2b8;
}
h6{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
img{
  max-width: 100%;
}
.blockquote{
  font-size: 1.6rem;
  color:#17a2b8;
  border: none;
  padding: 0;
}
.cover-text{
  font-size: 2rem;
}
.blockquote-footer{
  margin: 1rem 0 0;
}
#stage{
  background: url("https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80") center center no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
#stage-caption{
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}
#stage-caption h1{
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Fredericka the Great";
  font-size: 4rem;
}
/* NavBAr */


.navbar{
  position: fixed;
  padding: 0 16px 0 16px;
}
.nav-item{
  font-weight: bold;
}
.btn-info{
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: #17a2b8 !important;
}
.navbar-dark .navbar-nav .active>.nav-link:hover{
  color: #117a8b !important;
}

/* Features-1 */
#feature-one{
  padding: 9rem 0;
  overflow: hidden;
}

/* Features-2 */
#colomn1{
  margin-top: 7rem;
}

#feature-three img{
  max-width: 140% !important;
  margin-left: -9rem;
}
#feature-five img{
  padding-top: 2rem;
}
#feature-six img{
  max-width: 140% !important;
}
#feature-eight{
  margin-top: 8rem;
  margin-bottom: 8rem;
}
#feature-eight h2{
  font-weight: bold;
}
#feature-eight p{
  font-size: 1.1rem;
}
#main-footer  a img{
  max-width: 10%;
  margin-bottom: 1rem;
}
